<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="GoalAlertEntities" connectionString="metadata=res://*/GoalModel.csdl|res://*/GoalModel.ssdl|res://*/GoalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GoalAlert;persist security info=True;user id=sa;password=Yemo1.DBA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="FeedURI" value="http://api.goalapi.com/v01/matches/"/>
    <add key="LicenseKey" value="FUNMOBILE"/>
    <add key="FeedParam" value="?f=xml&amp;"/>
    <add key="FeedParam1" value="t1={0}&amp;t2={1}&amp;s=0&amp;l=30&amp;e=1&amp;open={2}"/>
    <add key="MinutesBeforeKickoff" value="60"/>
    <add key="MinutesAfterFinish" value="5" />
    <add key="DaysAhead" value="15"/>
    <add key="RequestSecondInterval" value="60"/>
    <add key="NoFeedSecondInterval" value="60"/>
    <add key="NoLeagueSecondInterval" value="3600"/>
    <add key="GMTValue" value="1"/>
    <add key="FileLog" value="ErrorLog"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LastActiveHour" value ="3"/>
    <add key ="KeepAliveMinute" value ="300"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
